* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    background-color: rgb(95, 92, 92);
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;


}

.nav-img {
    width: 170px;
    height: 40px;
    padding-top: 7px;
}
.nav-second{
    display: flex;
 
}
.menu-bar{
    list-style-type: none;
    margin-right: 30px;
    color: white;
    font-size: 25px;
}
.menu-bar:hover{
    color: darkturquoise;
    cursor: pointer;
}

.banner-photo{
    width: 450px;
    
   
    
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(./images/background.png),linear-gradient(45deg,rgb(8, 8, 8),rgb(66, 62, 62));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.banner-title{
    font-size: 80px;
    line-height: 80px;
    
}
.banner-details{
font-size: 25px;
padding-top: 15px;
}

.banner-btn{
    margin-top: 20px;
    width: 130px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;
}
.about-us-title{
    font-size: 80px;
    text-align: center; 
    padding-top: 15px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    
}
.about-heading{
    font-size: 40px;
    margin-bottom: 10px;
}
.about-para{
    font-size:25px ;
    margin-bottom: 10px;
  
}
.about-img{
    border-right: 2px solid black;
    height: 500px;
   
}